<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>wmon</title>
	<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9"><![endif]-->
	<meta name="description" content="web server monitor" />
	<meta name="author" content="xrado" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="apple-touch-icon" href="favicon.ico" />

	<!-- CSS -->
	<link rel="stylesheet" href="media/css/csstools.css" type="text/css" /> 

	<!-- JavaScript -->
	<script type="text/javascript" src="media/js/mootools-core-1.3.2-full-nocompat-yc.js"></script>
	<script type="text/javascript" src="media/js/dygraph-combined.js"></script>
	<script type="text/javascript" src="media/js/domready.js"></script>
</head>
<body>
	{{{ content }}}
	<br/>
	<br/>
	<footer>wmon - web server monitor &copy; 2011 by <a href="http://www.whycai.com">whycai lab</a></footer>
	<br/>
</body>
</html> 
